*{
    margin: 0px;
    padding: 0px;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:10px;
}
#container{
    font-size:1.2rem;
    background-color:#e4f3fc;
    width:70%;
    padding: 1rem;
}
#tweet{
    width: 100%;
   background-color:whitesmoke;
   float: left; 
   border 1rem solid red;
}
#msg{
    margin-left:9rem;
    min-width:50%;
    float: left;
    margin-top: 1rem;
    
}
#btnSubmit{
    background-color: rgb(106, 84, 235);
    width:5rem;
    height:2rem;
    margin-top: 1rem;
    
}
#words{
    margin-left:20rem;
    width:10%;

   
}
.del{
   background-color: blue;
   width:5rem;
   height:2rem;
   float: right;
}
.para{
    height:2rem;
    margin-top: 0.2rem;
    
}

#hr{
    width:1rem;
    background-color: red;
    
}